@import "tailwindcss";

html, body, #root {
  background-color: #050816;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.counter-number {
  font-variant-numeric: tabular-nums;
}
